<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userInfo</title>
</head>
<body>
<table class="table table-striped" border="1">
  <thead>
  <tr>
    <th>#</th>
    <th>이름</th>
    <th>닉네임</th>
    <th>가입일시</th>
    <th>이메일</th>
    <th>전화번호</th>
    <th>회원등급</th>
    <th>회원권한</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td th:text="${user.userId}"></td>
    <td th:text="${user.username}"></td>
    <td th:text="${user.userNickname}"></td>
    <td th:text="${user.userInsertDate}"></td>
    <td th:text="${user.email}"></td>
    <td th:text="${user.userPhone}"></td>
    <td th:text="${user.userGrade}"></td>
    <td th:text="${user.userRole}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>